header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    background-color: black;
}

.contact-heading {
    padding: 67px 0 0 10%;
    color: #FFF;
    font-family: Aldrich;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-turco h1 {
    color: #FFF;
    font-family: "Montserrat Subrayada";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 20.48px;
}

.contact-turco h2 {
    color: #8F8888;
    text-align: left;
    font-family: Aldrich;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 580px;
}

.contact-input {
    width: 234px;
    height: 35px;
    flex-shrink: 0;
    border: 2px solid #000;
    background: #8F8888;
    color: #FFF;
    font-size: 20px;
}

.input-div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 10%;
}

.input-div p  {
    color: white;
    font-family: "Aldrich";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   

.description-input {
    width: 367px;
    height: 142px;
    flex-shrink: 0;
    border: 2px solid #000;
    background: #8F8888;
    text-align: start;
    color: white;
    font-size: 20px;
    justify-content: start;
}

.send-btn {
    padding-top: 66px;
    padding-left: 97px;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Aldrich;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 104px;
    height: 44px;
    padding: 21px 8px 22px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FFF;
    cursor: pointer;
}

.send-btn:hover {
    transition: gray 0,8s ease;
    background-color: #8F8888;
    color: black;
}

.nav-contact {
    width: 100%;
    padding: 70px 0 70px 43%;

}

@media (max-width: 480px) {
    .contact-turco h2 {
        font-size: 18px;
        width: 100%;

    }
    .contact-banner img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .description-input {
        width: 100%;
    }
}