body {
    background-color: black;
}

.about-heading {
    padding: 67px 0 0 10%;
    color: #FFF;
    font-family: Aldrich;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-turco h1 {
    color: #FFF;
    font-family: "Montserrat Subrayada";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 20.48px;
}

.about-turco h2 {
    color: #8F8888;
    text-align: center;
    font-family: Aldrich;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-button {
    padding-top: 55px;
    padding-left: 85px;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Aldrich;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 284px;
    height: 74px;
    padding: 21px 8px 22px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FFF;
}

.contact-button:hover {
    cursor: pointer;
    background-color: #8F8888;
    color: black;
    transition: 0,8s ease;
}

.paragraph-div p {
    width: 80%;
    color: #8F8888;
    font-family: Aldrich;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    padding: 50px 0 58px 10%;
}

.nav-about {
    width: 100%;
}

.nav-about h2 {
    width: 90%;
    padding: 29px 0 29px 10%;
    align-items: center;    
    color: #FFF;
    font-family: "Montserrat Subrayada";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFF;
}

.nav-about h3 {
    color: #8F8888;
    font-family: "Aldrich";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
    padding: 0 0px 0 0;
}

.trainer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.trainer-img {
    width: 400px;
    height: 480px;
    object-fit: cover;
    border-radius: 15px;
}

.trainer-bio {
    width: 40%;
}

.trainer-bio h3 {
    color: white;
}

.trainer-bio p {
    color: #8F8888;
    font-family: Aldrich;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    align-items: right;
}

.trainers-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 150px 0px;
    flex-wrap: wrap;
}

.trainers-gallery img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}



.our-mission h3 {
    padding-left: 10%;

}

.our-mission p {
    color: white;
    font-family: Aldrich;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    width: 70%;
    padding-left: 13%;
}

.our-mission li {
     color: white;
    font-family: Aldrich;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    width: 70%;
    padding-left: 13%;
}


.btn-div {
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 40%;    
}

@media (max-width: 480px) {

    .about-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }

    .main-about p, .trainer-bio p {
        font-size: 18px;

    }

    .trainer-bio p {
        width: 100%;
        padding-left: 0px;
    }

    .trainers-gallery {
        gap: 10px;

    }

    .our-mission p {
        font-size: 18px;
    }

    .btn-div {
        padding: 100px 0 100px 0;
        justify-content: center;
        align-items: center;
    }

    .contact-button {
        font-size: 18px;
        width: 180px;
        height: 50px;
        padding: 14px 4px;
  }

  .trainer-img {
    width: 300px;
    height: 380px;
    object-fit: cover;
  }
}