.nav-about h2 {
    width: 100%;
    padding: 29px 0 29px 99px;
    align-items: center;    
    color: #FFF;
    font-family: "Montserrat Subrayada";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFF;
}

.nav-about h3 {
    color: #8F8888;
    font-family: "Aldrich";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
    padding: 0 0px 0 0;
}



.trainers-info {

}

.trainers-info img {
    width: 400px;
    height: 480px;
    object-fit: cover;
    border-radius: 15px;
}

.trainers-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 70px;
}

#links-footer a , #social-footer a {
    text-decoration: none;
    color: white;
}

.main-login {
    background-color: black;
    justify-content: center;
    width: 100%;
}

.trainers-wrap h3 {

}


.trainers-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 150px 0px;
}

.trainers-gallery img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.trainer-bio {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 0;
}


.our-mission p {
    color: #FFF;
    width: 40%;
    height: auto;
    font-family: Aldrich;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
}

.our-mission {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    left: 5%;
    padding: 50px 0 0 10%;
}

.images-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-div  {
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 40%;
}